

.home-only-header {
    background:#6666ff!important;
    font-weight:bold;
  }
  #logoid
  {
    width:20px;
    height:40px;
    border-radius:50%;

  }
  .logopad{
    padding-left:20px;
  }
  i{
   color: white;
   font-size:15px;
   padding-left: 10px;
  }
  .btn-link {
	font-weight: 400;
	color: #6666ff;
	background-color: transparent;
}
h5 {
  color:white;
  padding-top:10px;padding-left:5px;
}
  .bg{
   background-color:#6666ff;
  }
  .container {
      background-color: #eee;
      width:664px;
      text-align: left;
      margin: 25px 0px 25px 0px;
      border: #fff solid 2px;
      height:337px;
  }
  body {
   margin: 0;
   font-family:Georgia,serif;
  }
  .top-container {
   background-color: #f1f1f1;
   padding: 30px;
   text-align: center;
  }
  .header {
   padding: 10px 16px;
   padding-right: 0px;
   padding-left:0px;
   padding-top:0px;
  }
  .heiwid{
    height:58px;
  }
  p{
    color:#6666ff;
    padding-top: 20px;
    padding-right:10px;
    padding-left:30px;
    font-weight: bold;
  }
  #a-blocked
  {
    padding-left:15px;
    padding-top:10px;
  }
  #p-popup
  {
    color:white; background-color:darkgrey;
    text-align: center;
    font-weight:normal ;
  }
  .nav-link{
    color: #f1f1f1;
  }

  header.profilecontent{
 font-family:Georgia, serif;
 font-size: 20px;
 font-style: italic;
 background-color:#6666ff;
 align-items: center;

}
.dropdownstyles{
  font-style: normal;
  color:black;
  }
  .dropdown-header{
    font-weight:bolder;
    font-family:Georgia,serif;
    text-align:left;
    padding-left:1px;
    color:black;
  }
  .btn-link:hover {
    color: black;
    border-color: transparent;
  }
table{
  margin-top: 20px;
  color: black;
  padding-left:20px;
  padding right:50px;
}
.divider1{
  background-color: black;
}
button{
  font-size:15px;
  border:none;
  background:transparent;
  font-family:Georgia,serif;
}
button.hover{
  color:grey;
}
.card{
  color:white;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: white;
    }

 .border{
   width: 100%;
 }
 .vertical-line {
 border-left:solid black;
 height:100%;
}
.background{
 background-image:url("11.jpg");
}
  .content {
   padding: 16px;
  }
  .sticky {
   position: fixed;
   top: 0;
   width: 100%;
  }

  .sticky + .content {
   padding-top: 102px;
  }
  {
   scroll-behavior: smooth;
  }
  .widthsnd{
 width:100%;
 padding-left: 0px;
 padding-right: 0px;
}
  #blockimage
  {
    width:60px;
    height:60px;
    border-radius:50%;
    float:left;
  }

  #imageno
  {
    padding-top:5px;
    padding-left:120px;
    color:white;
    font-weight: normal;
  }
  .imagedivstyles{
    padding-top:60px;
    padding-left: 20px;
  }
  .imagedivstyles1{
    padding-top:20px;
    padding-left: 20px;
    height:103px;
  }
  .unblockalign{
    margin-left: 180px;
    padding-top:10px;
    right: 40;

  }
  a:hover{


    font-weight: italic;
  }
  .button {
    background-color:#4CAF50;
    } /* Green
